:root {
	--brand-bg: #f0eede;
	--brand-main: #003e51;
	--brand-secondary: #faa21b;
	background: var(--brand-bg);
}

@media only screen and (min-device-width: 501px) {
	:root {
		--footer-img-width: 10%;
		--header-img-width: 40%;
	}

	p {
		font-size: 3em;
	}
}

@media only screen and (max-device-width: 500px) {
	:root {
		--footer-img-width: 20%;
		--header-img-width: 80%;
	}

	p {
		font-size: 5em;
	}

}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	font-family: "Bricolage Grotesque",
		sans-serif;
	color: var(--brand-main);
}

header {
	background: var(--brand-main);
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	align-items: center;
}

footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

footer img {
	max-width: var(--footer-img-width);
}

section {
	margin: 0 6em 0 6em;
}


header img {
	margin: 2em;
	margin-bottom: 2.5em;
	max-width: var(--header-img-width);
	height: auto;
}

.accent-box {
	background: var(--brand-secondary);
	height: 1rem;
	width: 100%;
}
