p#welcome-text {
	text-align: center;
	color: var(--primary-blue);
	font-family: lwbody-bold;
}

p.bulk-text {
	text-align: left;
	color: var(--primary-blue);
}

p.homeLink {
	font-family: lwbody-it;
	color: var(--primary-orange);
	display: inline;
}

p.homeLink:visited,
p.homeLink:hover,
p.homeLink:active {
	color: var(--primary-green)
}
