:root {
	--primary-blue: #003E51;
	--primary-green: #006E48;
	--primary-off-white: #F0EEDE;
	--primary-orange: #E25425;
	--primary-yellow: #FAA21B;
}

@font-face {
	font-family: lwBody;
	src: url("./assets/fonts/BrandonGrotesqueCond-Regular.otf")
}

@font-face {
	font-family: lwBody-it;
	src: url("./assets/fonts/BrandonGrotesqueCond-RegularIt.otf")
}


@font-face {
	font-family: lwBody-bold;
	src: url("./assets/fonts/BrandonGrotesqueCond-Black.otf")
}

body {
	background-color: var(--primary-off-white);
	font-family: lwbody;
}

a {
	font-family: lwbody-it;
	color: var(--primary-orange)
}


a:visited,
a:hover,
a:active {
	color: var(--primary-green)
}

#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
}
