div.navbar {
	position: fixed;
	top: 0;
	left: 0;
	background-color: var(--primary-blue);

}

.navbar button.navButton {
	flex-grow: 1;
}

button {
	background-color: var(--primary-blue);
}

.navButton:hover,
.navButton:active,
.navLogo:hover {
	border-color: var(--primary-blue);
}


.navButton p:hover,
.navButton p:active {
	color: var(--primary-orange);
}

img {
	margin: 0;
}

button {
	padding-top: 4px;
	padding-bottom: 4px;
}

.navButton p {
	color: var(--primary-off-white);
	text-align: center;
}
