div.navbar {
	position: fixed;
	top: 0;
	left: 0;
	background-color: var(--primary-blue);

}

.navbar button.navButton {
	flex-grow: 1;
}


.navButton:hover,
.navButton:active,
.navLogo:hover {
	box-shadow: none;
	border: none;
}


.navButton p:hover,
.navButton p:active {
	color: var(--primary-orange);
}

img.logoIcon {
	margin: 0;
}


button.navButton,
button.navLogo {
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: var(--primary-blue);
}

.navButton p {
	color: var(--primary-off-white);
	text-align: center;
}
