div.navbar {
	position: fixed;
	top: 0;
	left: 0;
	background-color: var(--primary-blue);

}

.navbar button.navButton {
	flex-grow: 1;
}


.navButton:hover,
.navButton:active,
.navLogo:hover {
	border-color: var(--primary-blue);
}


.navButton p:hover,
.navButton p:active {
	color: var(--primary-orange);
}

img.logoIcon {
	margin: 0;
}


button.navButton,
button.navLogo {
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: var(--primary-blue);
}

.navButton p {
	color: var(--primary-off-white);
	text-align: center;
}

div.hamLine {
	height: 0.25rem;
	width: 2.25rem;
	margin: 0.45rem 0;
	border-radius: 25px;
	background-color: var(--primary-yellow);
}
