#privacyScreen {
	height: 100vh;
	width: 100vw;
	background-color: var(--primary-off-white);
	position: fixed;
	top: 0;
	left: 0;
}

#ageGate {
	background-color: var(--primary-green);
}

button {
	margin-left: 12px;
	margin-right: 12px;
	padding-top: 4px;
	padding-bottom: 4px;
}

button#no:hover,
button#no:active {
	background-color: var(--primary-orange);
}

button#yes:hover,
button#yes:active {
	background-color: var(--primary-green);
	filter: brightness(120%);
	color: var(--primary-off-white);
}

button:hover,
button:active {
	box-shadow: 2px 2px;
	border: none;
	outline: none;
}

h1 {
	font-family: lwBody-bold
}

button h1 {
	line-height: 1;
	margin-top: 12px;
}

.ageText {
	color: var(--primary-off-white);
	text-align: center;
}
