:root {
	--primary-blue: #003E51;
	--primary-green: #006E48;
	--primary-off-white: #F0EEDE;
	--primary-orange: #E25425;
	--primary-yellow: #FAA21B;
}

section.mainContent {
	margin-top: 90px;
}

@font-face {
	font-family: lwBody;
	src: url("./assets/fonts/BrandonGrotesqueCond-Regular.otf")
}

@font-face {
	font-family: lwBody-it;
	src: url("./assets/fonts/BrandonGrotesqueCond-RegularIt.otf")
}


@font-face {
	font-family: lwBody-bold;
	src: url("./assets/fonts/BrandonGrotesqueCond-Black.otf")
}

body {
	background-color: var(--primary-off-white);
	font-family: lwbody;
}

#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
}
